$lx-color-success: #8bc34a;
$lx-color-error: #ff5722;
$lx-color-info: #03a9f4;
$lx-color-warning: #ffc107;
$lx-color-active: #9e9e9e;
$lx-color-inactive: #d1d1d1;
$lx-color-inactive-light: #f5f8ff;
$lx-color-dark: #333333;

$lx-color-names: (
        "success":$lx-color-success,
        "error":$lx-color-error,
        "warning":$lx-color-warning,
        "info":$lx-color-info,
        "active":$lx-color-active,
        "dark":$lx-color-dark,
        "inactive":$lx-color-inactive,
        "inactive-light":$lx-color-inactive-light,
);