$card-border-color: lightgray;

.card {
  display: block;
  margin: .2rem;
  @include border-shadow;
  border-width: 0;
  background-color: var(--color-light);
  border-radius: $lx-config-border-radius;


  @each $name, $color in $theme-colors {
    &.bg-#{$name} {
      color: var(--color-light);
      background-color: transparent;

      .card-header, .card-footer {
        background-color: var(--color-#{$name}-rgba-800);

      }

      .card-header {
        border-bottom: 1px solid transparent;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;

      }

      .card-footer {
        border-top: 1px solid transparent;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
      }

      .card-content {
        background-color: var(--color-#{$name}-rgba-900);
      }
    }
  }

  .card-header {
    margin: 0;
    padding: 1rem .6rem;
    border-bottom: 1px solid $card-border-color;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    height: 3.3rem;
  }

  .card-content {
    padding: .6rem;
  }

  .card-footer {
    border-top: 1px solid $card-border-color;
    padding: .6rem;
    height: 3.3rem;
    display: flex;
  }
}