$lx-color-success: #0FC580;
$lx-color-error: #F63466;
$lx-color-info: #238DF7;
$lx-color-warning: #F7BD33;
$lx-color-active: #ADADAD;
$lx-color-inactive: #CCCCCC;
$lx-color-inactive-light: #F5F5F5;
$lx-color-dark: #343434;
$lx-color-dark-lite: #5A5A5A;

//$lx-color-success: #8bc34a;
//$lx-color-error: #ff5722;
//$lx-color-info: #03a9f4;
//$lx-color-warning: #ffc107;
//$lx-color-active: #9e9e9e;
//$lx-color-inactive: #d1d1d1;
//$lx-color-inactive-light: #f5f8ff;
//$lx-color-dark: #333333;
//$lx-color-dark-lite: #555555;

$lx-color-names: (
        "success":$lx-color-success,
        "error":$lx-color-error,
        "warning":$lx-color-warning,
        "info":$lx-color-info,
        "active":$lx-color-active,
        "dark":$lx-color-dark,
        "dark-lite":$lx-color-dark-lite,
        "inactive":$lx-color-inactive,
        "inactive-light":$lx-color-inactive-light,
);