$lx-config-font-size: 14px;
$lx-config-font-family: 'Commissioner', sans-serif;
$lx-config-container-size: 700px;
$lx-config-min-screen-size: 747px;
$lx-config-border-radius: 3px;
$lx-config-columns-count:12;