$lx-config-font-size: 14px;
$lx-config-font-family: 'Commissioner', sans-serif;
//$lx-config-font-family: 'Roboto', sans-serif;
//$lx-config-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
//$lx-config-font-family: sans-serif;
$lx-config-container-size: 1024px;
$lx-config-min-screen-size: 747px;
$lx-config-border-radius: 4px;
$lx-config-columns-count: 12;
//$lx-config-sidenav-icon-size: 60px;
//$lx-config-sidenav-icon-font-size: 1.5rem;
$lx-config-sidenav-width: 300px;
$lx-config-nav-zindex: 1048;
$lx-config-nav-padding-y: 1rem;
$lx-config-nav-font-size: 1rem;
$lx-config-nav-size: 4rem;
$lx-config-nav-line-height: $lx-config-nav-size - $lx-config-nav-padding-y * 2;
$lx-config-sidenav-zindex: 980;
$lx-config-calendar-cell-day-width: 2rem;
$lx-config-calendar-padding: $lx-config-calendar-cell-day-width / 4;
$lx-config-calendar-width: $lx-config-calendar-cell-day-width * 7 + $lx-config-calendar-padding * 2;
$lx-config-calendar-cell-month-width: $lx-config-calendar-cell-day-width * 7 / 3;
$lx-config-main-margin: 1rem;