$lx-config-font-size: 14px;
$lx-config-font-family: 'Commissioner', sans-serif;
$lx-config-container-size: 1024px;
$lx-config-min-screen-size: 747px;
$lx-config-border-radius: 3px;
$lx-config-columns-count: 12;
//$lx-config-sidenav-icon-size: 60px;
//$lx-config-sidenav-icon-font-size: 1.5rem;
$lx-config-sidenav-width: 300px;
$lx-config-nav-zindex: 1024;
$lx-config-sidenav-zindex: 1000;
$lx-config-calendar-cell-day-width: 2rem;
$lx-config-calendar-padding: $lx-config-calendar-cell-day-width / 4;
$lx-config-calendar-width: $lx-config-calendar-cell-day-width * 7 + $lx-config-calendar-padding * 2;
$lx-config-calendar-cell-month-width: $lx-config-calendar-cell-day-width * 7 / 3;