$input-padding: .2rem;
input {
  font-size: 1rem;
  outline: none;
  border: 1px solid $lx-color-active;
  border-radius: $lx-config-border-radius;
  padding: $input-padding;
  width: inherit;
}

.input-group {
  display: flex;
  flex-wrap: nowrap;

  label {
    white-space: nowrap;
    width: 10rem;
    font-size: 1rem;
    line-height: 1.6rem;

    &.has-text {
      border-bottom: 1px dotted $lx-color-inactive;
    }
  }

  .input-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    .appended {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .input-extention {
      border: 1px solid $lx-color-active;
      border-radius: $lx-config-border-radius;
      padding: $input-padding;
      min-width: 1.6rem;
      text-align: center;

      &.prepend {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        & + input {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }


      &.append {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

  }
}
