$input-padding: .5rem 1rem;
input {
  font-size: 1rem;
  outline: none;
  //border: 1px solid $lx-color-active;
  border: 1px solid var(--color-dark-rgba-300);
  border-radius: $lx-config-border-radius;
  padding: $input-padding;
  width: inherit;

  &::placeholder {
    //color: $lx-color-inactive;
    color: var(--color-dark-rgba-300);
  }

}

.input-group {
  display: flex;
  flex-wrap: nowrap;

  &.readonly {
    input, .prepend, .append {
      //background-color: $lx-color-inactive-light;
      background-color: var(--color-dark-rgba-300);
      //border-color: $lx-color-inactive !important;
      border-color: var(--color-dark-rgba-300) !important;
    }
  }

  label {
    white-space: nowrap;
    width: 10rem;
    font-size: 1rem;
    //line-height: 1.6rem;
    display: flex;
    align-items: center;

    &.sm {
      width: 4rem;
    }

    &.lg {
      width: 18rem;
    }

    &.xl {
      width: 30rem;
    }

    &.has-text {
      //border-bottom: 1px dotted $lx-color-inactive;
      border-bottom: 1px dotted var(--color-dark-rgba-300);
    }
  }

  .input-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    .appended {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .input-extention {
      //border: 1px solid $lx-color-active;
      border: 1px solid var(--color-dark-rgba-300);
      border-radius: $lx-config-border-radius;
      padding: $input-padding;
      //min-width: 1.6rem;
      text-align: center;

      &.prepend {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        & + input {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }


      &.append {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

  }
}
