.modal-container{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  //display: none;
  z-index: 2000;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  //display: none;
}

.modal-window {
  position: absolute;
  width: 80%;
  background-color: #fff;
  min-height: 400px;
  max-height: 90%;
  margin-left: 10%;
  overflow: auto;
  margin-top: 5%;
  padding: .8rem;
  //display: none;
}