.navbar {
  padding: 1rem 0;
  font-weight: 500;
  font-size: 1rem;
  //color: #fff;
  color: var(--color-light);
  //background-color: $lx-color-dark;
  background-color: var(--color-dark);
  position: relative;
  //transition: 5s;

  .navigation-container {
    margin: 0 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo {
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .nav, .nav-right {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      li {
        padding: 0 .6rem;
        white-space: nowrap;

        &.dropdown-item {
          position: relative;

          .item-title {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

          }

          .dropdown-menu {
            width: auto;
            display: none;
            position: absolute;
            background-color: var(--color-dark);
            list-style: none;
            left: 0;
            top: 100%;
            margin: 1.1rem 0 0;
            box-sizing: border-box;
            //border: 1px solid $lx-color-dark-lite;
            border: 1px solid var(--color-dark-rgba-400);
            padding: 0;
            z-index: 1001;

            li {
              padding: 0;
              //border-bottom: 1px solid $lx-color-dark-lite;
              border-bottom: 1px solid var(--color-dark-rgba-400);

              &:hover {
                //background-color: rgba($lx-color-dark-lite, .2);
                background-color: var(--color-dark-rgba-400);
              }

              a {
                display: block;
                padding: .4rem .6rem;

                &:hover {
                  //color: $lx-color-inactive-light;
                  color: var(--color-light);
                }
              }
            }
          }

          &.expanded {
            .dropdown-menu {
              display: block;
            }
          }
        }

        a {
          transition: all .3s ease 0s;
          text-decoration: none;
          //color: $lx-color-inactive-light;
          color: var(--color-light);
          font-size: 1.1rem;

          & > * {
            //color: $lx-color-inactive-light;
            color: var(--color-light);
          }

          .btn {
            &:hover {
              //background-color: rgba($lx-color-inactive, .3);
              background-color: var(--color-light);
            }

            &:active {
              //background-color: rgba($lx-color-inactive, .8);
              background-color: var(--color-light);
            }
          }

          &:hover {
            //color: $lx-color-info;
            color: var(--color-info);
          }
        }
      }
    }

    .nav-right {
      justify-content: flex-end;
      &.dropdown-item {
        &:last-child {
          .dropdown-menu {
            right: 0;
            left: auto;
          }
        }
      }
    }
  }

  .toggle {
    display: none;
    //color: $lx-color-inactive-light;
    color: var(--color-light);
    position: relative;
    cursor: pointer;
  }
}

@media (max-width: $lx-config-min-screen-size) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    nav {
      display: none;
    }

    &.toggled {
      height: 100vh;

      .navigation-container {
        margin: 0;
        width: 100%;


        display: block;
        position: relative;

        nav {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .nav {
            display: block;
            margin-top: 2.6rem;

            li {
              display: block;
              padding: 0;
              text-align: center;
              //border-top: 1px solid rgba(255, 255, 255, .05);
              border-top: 1px solid var(--color-dark-rgba-400);

              &:hover {
                //background-color: rgba(255, 255, 255, .1);
                background-color: var(--color-dark-rgba-400);
              }

              a {
                display: block;
                padding: .8rem .6rem;

                &:hover {
                  color: inherit;
                }
              }
            }
          }

          .nav-right {
            & > * {
              display: block;
              text-align: center;
            }
          }
        }
      }
    }

    .toggle {
      display: block;
      width: 24px;
      margin-right: .8rem;
    }
  }
}