.search-help {
  position: relative;
  display: flex;
  flex-wrap: nowrap;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    & > svg {
      width: .8rem;
    }
  }
}