.search-help {

  .input-group.readonly input{
    background-color: var(--color-light);
  }

  .input-extention.append {
    padding: 0;

    .btn {
      height: 100%;
      border: none;
    }
  }

  &.readonly {
    input {
      //background-color: $lx-color-inactive;
    }

    button, .btn {
      //background-color: $lx-color-inactive;
    }
  }
}

.search-help-svg-icon {
  width: .8rem;
}