.search-help {
  position: relative;
  display: flex;
  flex-wrap: nowrap;

  &.readonly{
    input{
      background-color: $lx-color-inactive;
    }
    button, .btn{
      background-color: $lx-color-inactive;
    }
  }

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    & > svg {
      width: .8rem;
    }
  }

  .label{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: .5rem;
  }
}