$sidenav-width:20%;

.sidebar {
  height: 100%;
  position: fixed !important;
  width: $sidenav-width;
  left: -$sidenav-width;
  transition: all linear 0.4s;
  z-index: 1024;
  overflow: visible;
  //box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  box-shadow: inset -1px 0 0 var(--color-dark-rgba-100);


  .sidebar-toggle {
    position: absolute;
    right: 0;
    margin-right: -1.3rem;
    margin-top: 1.4rem;
    width: 1.4rem;
    height: 1.4rem;
    //background-color: inherit;
    background-color: transparent;
    display: block;
    text-align: center;
    border: 1px solid var(--color-dark-rgba-100);
    border-left: none;
    outline: none;
    font-size: 1rem;
    color: var(--color-light);
  }

  .title {
    margin-top: .5rem;
    padding: .5rem 1.2rem;
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--color-dark-rgba-500);
  }

  &.sidebar__opened {
    left: 0;
    .sidebar-toggle{
      color: var(--color-dark);
      margin-right: 0;
      border-left: 1px solid var(--color-dark-rgba-300);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    padding-bottom: .5rem;

    &:not(:first-child):not(.submenu) {
      border-top: 1px solid var(--color-dark-rgba-300);
    }
  }

  .item {
    &:hover {
      background-color: var(--color-dark-rgba-100);
    }

    a {
      color: var(--color-dark);
      text-decoration: none;
      display: block;
      padding: .5rem 1.2rem;
    }

    &.active {
      a {
        color: var(--color-primary);
      }
    }

    &.item-dropdown {
      padding: .5rem 0;
      cursor: pointer;

      span {
        padding-left: 1.2rem;
      }

      &::before {
        content: '\25BC';
        position: absolute;
        right: .7rem;
      }

      &.expanded {
        padding-bottom: 0;

        &:hover {
          background-color: transparent;
        }

        &::before {
          content: '\25B2';
        }

        .submenu {
          height: auto;
          visibility: visible;
          padding-left: 1rem;
          margin-top: .5rem;
        }
      }

      .submenu {
        visibility: hidden;
        height: 0;
        background-color: var(--color-dark-rgba-100);
      }
    }
  }

  &.sidebar__opened + * {
    //margin-left: $sidenav-width;
  }
}