.table {
  $table-border-color: var(--color-secondary-rgba-400);
  width: 100%;
  border-collapse: collapse;

  td, th {
    line-height: 1.1rem;
    padding: .6rem;
  }

  thead tr {
    td, th {
      text-align: left;

      &.th-sortable {
        position: relative;
        cursor: pointer;

        &:before, &:after {
          position: absolute;
          right: .5rem;
          color: var(--color-secondary-rgba-500);
        }

        &:before {
          content: '\2191';
          right: 1rem;
        }

        &:after {
          content: '\2193';
        }

        &.th-sort-desc:after {
          color: var(--color-secondary-rgba-900);
        }
        &.th-sort-asc:before {
          color: var(--color-dark);
        }
      }
    }

    &:first-child td, th {
      border-top: 1px solid $table-border-color;
    }

    &:last-child td, th {
      border-bottom: 2px solid $table-border-color !important;
    }
  }

  tbody tr {
    td, th {
      border-top: 1px solid $table-border-color;
    }
  }

  &.table-bordered {
    td, th {
      border: 1px solid $table-border-color;
    }
  }

  &.table-borderless {
    td, th {
      border: 1px solid transparent !important;
    }
  }

  &.table-hover {
    tbody tr:hover {
      td, th {
        background-color: var(--color-primary-rgba-100);
      }
    }
  }

  &.table-sm {
    td, th {
      line-height: 1rem;
      padding: .4rem;
    }
  }

  &.table-striped {
    tbody tr:nth-child(2n+1) {
      td, th {
        background-color: var(--color-secondary-rgba-100);
      }
    }
  }


  .no-data-message {
    text-align: center;
    width: 100%;
    padding: 1rem;
  }

  //border: 1px solid $lx-color-inactive;
  //width: 100%;
  //border-collapse: collapse;
  //
  //tr {
  //  cursor: default;
  //
  //  &:hover {
  //    background-color: $lx-color-inactive-light;
  //  }
  //
  //  th {
  //    text-align: left;
  //    background: $lx-color-inactive-light;
  //    padding: .8rem .6rem;
  //    border: 1px solid $lx-color-inactive;
  //    color: $lx-color-dark;
  //
  //
  //    .title-container {
  //      display: flex;
  //      flex-wrap: nowrap;
  //      justify-content: space-between;
  //
  //      .caption {
  //        display: flex;
  //        flex-wrap: nowrap;
  //      }
  //
  //      .sort-icon {
  //        width: 1.1rem;
  //        height: 1rem;
  //        min-width: 1.1rem;
  //      }
  //
  //      .title {
  //        &.sortable {
  //          cursor: pointer;
  //        }
  //      }
  //    }
  //  }
  //
  //  td {
  //    padding: .8rem;
  //    border: 1px solid $lx-color-inactive;
  //  }
  //}
}