$tile-size: 11rem;
$tile-header-height: 4rem;
$tile-footer-height: 1.2rem;
$tile-content-padding: .7rem;
$tile-content-height: $tile-size - $tile-header-height - $tile-footer-height - $tile-content-padding / 2;

.tile-group {

  &:not(:last-child) {
    border-bottom: 1px solid $lx-color-inactive;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
  }

  .tile-group-content {
    display: flex;
    flex-wrap: wrap;
  }
}

.tile {
  width: $tile-size;
  min-width: $tile-size;
  max-width: $tile-size;
  height: $tile-size;
  border: 1px solid $lx-color-active;
  margin: 4px;
  border-radius: 3px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  cursor: pointer;
  transition: background-color .3s;

  &.type-create {
    border: 2px dashed $lx-color-inactive;
    color: $lx-color-inactive;
    font-size: 5rem;
  }

  &:hover {
    background-color: rgba(3, 169, 244, .05);
  }

  .header, .content, .footer {
    padding: 0 $tile-content-padding;
  }

  .header {
    height: $tile-header-height;
    min-height: $tile-header-height;
    max-height: $tile-header-height;
    padding-top: $tile-content-padding;

    .title {
      font-size: 1.4rem;
      word-break: break-word;
      overflow: hidden;
    }

    .subtitle {
      font-size: .8rem;
      color: $lx-color-active;
      word-break: break-word;
      overflow: hidden;
    }
  }

  .content {
    height: $tile-content-height;
    min-height: $tile-content-height;
    max-height: $tile-content-height;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    padding-bottom: .2rem;

    .value {
      font-size: 2.2rem;
    }

    .eval {
      padding-left: .4rem;
      padding-bottom: .2rem;

      .indicator {
        height: 1rem;
        margin-bottom: .6rem;
        font-size: 2rem;
      }

      .quantity {

      }

    }

    &.type-create {
      align-items: center;
      justify-content: center;

      //svg {
      //  width: 2rem;
      //}
    }
  }

  .footer {
    padding-bottom: $tile-content-padding;
    height: $tile-footer-height;
    min-height: $tile-footer-height;
    max-height: $tile-footer-height;
    line-height: $tile-footer-height;
    color: $lx-color-active;
    text-align: right;
    position: relative;

    .tile-toolbar {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 0.9em;

      a {
        text-decoration: none;
        color: $lx-color-active;
        //>svg{
        //  width: .8rem;
        //  height: 1.2rem;
        //}

        &.tile-edit {
          justify-self: flex-start;
          padding-left: $tile-content-padding;

          &:hover {
            color: $lx-color-info;
          }
        }

        &.tile-delete {
          justify-self: end;
          padding-right: $tile-content-padding;

          &:hover {
            color: $lx-color-error;
          }
        }

        //.far,
        //.fas {
        //  font-size: 0.8em;
        //}
      }
    }
  }
}