.toolbar {
  border-top: 1px solid $lx-color-active;
  border-bottom: 1px solid $lx-color-active;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .2rem;

  svg {
    min-width: 1rem;
  }


  .content {
    display: flex;
    align-content: flex-start;
    align-items: center;
    > * {
      margin-right: .2rem;
    }
  }

  .content-right {
    display: flex;
    align-content: flex-end;
    align-items: center;

    > * {
      margin-left: .1rem;
    }
  }
}