h1, h2, h3, h4, h5, h6 {
  a[href^="#"] {
    text-decoration: none;
    color: $lx-color-active;
    font-weight: normal;

    &:before {
      content: "# ";
    }

    &:hover {
      color: darken($lx-color-active, 15);
    }
  }
}

.container {
  width: $lx-config-container-size;
  max-width: $lx-config-container-size;
  margin-left: auto;
  margin-right: auto;
}

$side-list: ('':'', 't':'-top', 'b':'-bottom', 'l':'-left', 'r':'-right');
$spacers: ('m':'margin', 'p':'padding');
$spaces: 0, .3rem, .5rem, .8rem, 1rem, 1.4rem;
$axis: 'x', 'y';
@each $short, $spacer in $spacers {
  @for $i from 1 through length($spaces) {
    @each $name, $suffix in $side-list {
      .#{$short}#{$name}-#{$i - 1} {
        #{$spacer}#{$suffix}: #{nth($spaces, $i)};
      }
    }
    @each $xy in $axis {
      .#{$short}#{$xy}-#{$i - 1} {
        @if $xy == 'x' {
          #{$spacer}-left: #{nth($spaces, $i)};
          #{$spacer}-right: #{nth($spaces, $i)};
        } @else {
          #{$spacer}-top: #{nth($spaces, $i)};
          #{$spacer}-bottom: #{nth($spaces, $i)};
        }
      }
    }
  }
}

@for $i from 0 through 100 {
  .w-#{$i}p {
    width: $i * 1%;
  }
  .h-#{$i}p {
    height: $i * 1%;
  }

  .w-#{$i}x {
    width: $i * 1px;
  }
  .h-#{$i}x {
    height: $i * 1px;
  }

  .w-#{$i}r {
    width: $i * 1rem;
  }
  .h-#{$i}r {
    height: $i * 1rem;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-middle {
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-evenly {
  justify-content: space-evenly;
}

.flwx-nowrap {
  flex-wrap: nowrap;
}

.flex-items-start {
  align-items: flex-start;
}

.flex-items-end {
  align-items: flex-end;
}

.flex-items-center {
  align-items: center;
}

.flex-items-stretch {
  align-items: stretch;
}

.flex-items-baseline {
  align-items: baseline;
}