@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'config';
@import 'colors';
@import 'utils/helpers';
@import 'utils/mixins';
@import 'typography';
@import 'grids';
@import 'buttons';
@import 'inputs';
/*
@import 'modalWindow';
@import 'tables';
*/
@import 'tiles';
@import 'navbars';
@import 'gauge';
/*
@import 'switches';
@import 'checkboxes';
@import 'searchHelps';
*/
@import 'cards';
@import 'sidenavs';
/*
@import 'toolbars';
@import 'radiobuttons';
*/
@import 'calendars';


:root {
  @each $name, $color in $theme-colors {
    --color-#{$name}: #{$color};
    --color-#{$name}-rgb: #{toRGB($color)};

    @for $i from 1 through 9 {
      --color-#{$name}-rgba-#{$i * 100}: #{toRGBA($color, $i / 10)};
    }
  }
  --sidenav-size: #{$lx-config-sidenav-width};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $lx-config-font-family;
  font-size: $lx-config-font-size;
  min-height: 100Vh;
  color: map-get($theme-colors, "dark");
}

a, button {
  outline: none !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

@each $name, $color in $theme-colors {
  .#{$name} {
    background-color: $color;
  }
  .color-#{$name} {
    color: $color;
  }
}

