@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

@import 'config';
@import 'colors';
@import 'utils/helpers';

/*
@import 'typography';
@import 'grids';
*/
@import 'buttons';
/*
@import 'inputs';
@import 'modalWindow';
@import 'tables';
*/
@import 'tiles';
/*
@import 'navbars';
*/
@import 'gauge';
/*
@import 'switches';
@import 'checkboxes';
@import 'searchHelps';
@import 'cards';
*/
@import 'sidenavs';
/*
@import 'toolbars';
@import 'radiobuttons';
*/
@import 'calendars';



:root {
  @each $name, $color in $theme-colors {
    --color-#{$name}: #{$color};
    --color-#{$name}-rgb: #{toRGB($color)};

    @for $i from 1 through 9 {
      --color-#{$name}-rgba-#{$i * 100}: #{toRGBA($color, $i / 10)};
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $lx-config-font-family;
  font-size: $lx-config-font-size;
  min-height: 100Vh;
  color: map-get($theme-colors, "dark");
}

a {
  //color: map-get($theme-colors, "dark");
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

//@each $name, $color in $lx-color-names {
//  .#{$name} {
//    background-color: $color;
//  }
//  .color-#{$name} {
//    color: $color;
//  }
//}
@each $name, $color in $theme-colors {
  .#{$name} {
    background-color: $color;
  }
  .color-#{$name} {
    color: $color;
  }
}

